body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.section-label {
  display: block;
  margin: 8px 0;
  font-weight: bold;
}
#input {
  resize: both;
  width: 100%;
}
#input, #output {
  min-height:200px;
  min-width: 300px;
}

#output {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  /* background-color: #090705; */
  border-radius: 3px;
}

#columnOptionsTable {
  text-align: center;
}

[data-toggle="collapse"][data-expanded="true"] i.fa.collapsed,
[data-toggle="collapse"][data-expanded="false"] i.fa.expanded {
  display: none;
}  